<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add chdild</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br><br>
<div align="center">
    <form th:action="@{/child/add}" method="post" th:object="${childCreationDTO}">
        <div>
            <input type="text" th:field="*{name}" placeholder="Podaj imię dziecka">
            <span th:errors="*{name}"></span>
        </div>
        <div>
            <select th:field="*{zodiacSign}">
                <option th:each="zodiacSign : ${zodiacSigns}" th:value="${zodiacSign}" th:text="${zodiacSign.getPolishName()}"></option>
            </select>
        </div>
        <button>Dodaj dziecko</button>
    </form>
</div>

</body>
</html>