<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Child list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a type="button" class="btn btn-secondary" th:href="@{/}">Index</a>
        <a type="button" class="btn btn-secondary" th:href="@{/child/add}">Dodaj dziecko</a>
        <a type="button" class="btn btn-secondary" th:href="@{/user/logout}">Wyloguj</a>
    </div>
    <br><br><br>
    <div align="center">
        <table border="1px">
            <tr>
                <th>IMIĘ</th>
                <th>ZNAK ZODIAKU</th>
                <th>IMIE RODZICA</th>
                <th>DATA PLANOWANEGO URODZENIA</th>
                <th>DATA PLANOWANEGO POCZĘCIA</th>
            </tr>
            <tr th:each="child : ${childList}">
                <th th:text="${child.getName()}"></th>
                <th th:text="${child.getZodiacSign().getPolishName()}"></th>
                <th th:text="${parentName.getDisplayName()}"></th>
                <th th:text="${child.getSupposedBirthDate().toString()}"></th>
                <th th:text="${child.getSupposedDateOfConception()} ? ${child.getSupposedDateOfConception().toString()} : 'NIEZNANA'"></th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>