<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid">
<div align="center">
    <h1>ZOBO</h1>
    <div th:with="condition=${user}" class="btn-group" role="group" aria-label="button-group">
        <h1 th:if="${condition != null}" th:text="*{'Witaj użytkowniku ' + user.getDisplayName()}"></h1>
        <a th:if="${condition == null}" type="button" th:href="@{/user/add}">Zarejestruj</a>
        <a th:if="${condition == null}" type="button" th:href="@{/user/login}">Zaloguj</a>
        <a th:if="${condition != null}" type="button" th:href="@{/user/logout}">Wyloguj</a>
        <a th:if="${condition != null}" type="button" th:href="@{/child/add}">Dodaj dziecko</a>
        <a th:if="${condition != null}" type="button" th:href="@{/child/list}">Lista dzieci</a>
        <a type="button" th:href="@{/user/delete}">Usuń użytkownika</a>
    </div>
</div>
</body>
</html>